p{
    text-align: justify;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: auto;
}
.titulo{
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    padding: auto;
}
iframe{
    width: 560px;
    height: 315px;  
    padding-left: 300px;
}
img{
    height: 150px;
    text-align: center;
}
.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
}